@font-face {
    font-family: "Museo900";
    src: url("../fonts/museo900/Museo900.eot");
    src: url("../fonts/museo900/Museo900.eot?#iefix")format("embedded-opentype"),
    url("../fonts/museo900/Museo900.woff") format("woff"),
    url("../fonts/museo900/Museo900.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Museo700";
    src: url("../fonts/museo700/Museo700.eot");
    src: url("../fonts/museo700/Museo700.eot?#iefix")format("embedded-opentype"),
    url("../fonts/museo700/Museo700.woff") format("woff"),
    url("../fonts/museo700/Museo700.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Museo500";
    src: url("../fonts/museo500/Museo500.eot");
    src: url("../fonts/museo500/Museo500.eot?#iefix")format("embedded-opentype"),
    url("../fonts/museo500/Museo500.woff") format("woff"),
    url("../fonts/museo500/Museo500.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Museo300";
    src: url("../fonts/museo300/Museo300.eot");
    src: url("../fonts/museo300/Museo300.eot?#iefix")format("embedded-opentype"),
    url("../fonts/museo300/Museo300.woff") format("woff"),
    url("../fonts/museo300/Museo300.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Museo100";
    src: url("../fonts/museo100/Museo100.eot");
    src: url("../fonts/museo100/Museo100.eot?#iefix")format("embedded-opentype"),
    url("../fonts/museo100/Museo100.woff") format("woff"),
    url("../fonts/museo100/Museo100.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}