@media only screen and (max-width : 1200px){
	.owl-theme .owl-controls .owl-buttons .owl-prev,
	.owl-theme .owl-controls .owl-buttons .owl-next {
		display: none;
	}
	.header{
		&__list{
			display: none;
		}
	}
}
@media only screen and (max-width : 992px){
	.header{
		&__search{
			display: none;
		}
	}
}
