.section3{
	&__title, &__description{
		font-size: 15px;
		color: #262626;
	}
	&__title{
		font-family: "Museo500";
		font-weight: 500;
		color: #262626;
	}
	&__description{
		font-family: "Museo100";
		font-weight: 100;
		margin-bottom: 35px;
	}
	&__facebook{
		&::after{
			content: "";
			display: block;
			background: url('../svg/facebook.svg') no-repeat;
			background-size: contain;
			position: absolute;
			width: 8px;
			height: 14px;
		}
	}
	&__vk{
		&::after{
			content: "";
			display: block;
			background: url('../svg/vk.svg') no-repeat;
			background-size: contain;
			position: absolute;
			top: 15px;
			left: 20px;
			width: 20px;
			height: 15px;
		}
	}
	&__google{
		&::after{
			content: "";
			display: block;
			background: url('../svg/google.svg') no-repeat;
			background-size: contain;
			position: absolute;
			width: 12px;
			height: 15px;
		}
	}
	&__vk, &__google, &__facebook{
		display: inline-block;
		padding-right: 20px;
	}
	&__block{
		position: relative;
	}
}
