.section{
	&__column1{
		
	}
	&__logo{
		margin: 100px 0 100px 50px;
	}
	&__title{
		font-family: "Museo500";
		font-weight: 500;
		font-size: 15px;
		color: #262626;
		margin-bottom: 12px;
		margin-top: 0;
	}
	&__description{
		font-family: "Museo100";
		font-weight: 500;
		font-size: 15px;
		color: #262626;
		font-size: 15px;
		line-height: 18px;
		margin: 0 0 48px 0;
		max-width: 682px;
	}
	&__photo{
		margin-top: 200px;
	}
}
