.slider{
	&__wrapper{
		text-align: center;
		display: inline-block;
	}
	&__title{
		text-transform: uppercase;
	}
	&__name{
		font-family: 'Playfair Display', serif;
		font-size: 33px;
		color: #262626;
		font-weight: 100;
		margin-left: 155px;
	}
	&__block{
		text-align: center;
	}
}
.slider > .container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}
