.slider{
	padding-bottom: 30px;
	&__wrapper{
		text-align: center;
		display: inline-block;
	}
	&__title{
		font-family: "Museo900";
		font-weight: 900;
		text-transform: uppercase;
		margin-top: 48px;
		margin-bottom: 0;
	}
	&__description{
		font-family: "Museo100";
		font-weight: 100;
		margin-top: 2px;
	}
	&__title, &__description{
		font-size: 12px;
	}
	&__name{
		font-family: 'Playfair Display', serif;
		font-size: 33px;
		color: #262626;
		font-weight: 100;
		margin: 50px 0 50px 155px;
	}
	&__block{
		text-align: center;
	}
}
.slider > .container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 15px;
}
